.error-msg {
  color: red;
  text-align: center;
  font-size: 18px;
}
.am-button,
.am-button-primary,
.myButton,
.am-navbar,
.am-navbar-dark {
  background-color: #ffa92f !important;
  border: #ffa92f 1px solid !important;
}
